<!DOCTYPE html>
<html>
  <head>
    <title>占卜网站</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">占卜网站</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">主页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fortune-telling">占卜</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="jumbotron text-center">
      <h1>欢迎来到占卜网站！</h1>
      <p>在这里，您可以通过占卜获取对未来的预测。</p>
      <a class="btn btn-primary btn-lg" href="/fortune-telling" role="button">开始占卜</a>
    </div>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  </body>
</html>
